{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-md-5">
            <div class="card shadow-5-strong">
                <div class="card-body p-5 text-center">
                    <div class="mb-4">
                        <img src="/static/era_logo_full.jpg" class="img-fluid" style="max-height: 80px;"
                            alt="ERA Fitness">
                    </div>
                    <h3 class="mb-5 text-white">Welcome Back</h3>

                    <form method="post">
                        {% csrf_token %}

                        <!-- Username input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="text" id="id_username" name="username"
                                class="form-control form-control-lg text-white" required />
                            <label class="form-label text-white" for="id_username">Username</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="password" id="id_password" name="password"
                                class="form-control form-control-lg text-white" required />
                            <label class="form-label text-white" for="id_password">Password</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-4">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Initialize MDB Inputs
    document.querySelectorAll('.form-outline').forEach((formOutline) => {
        new mdb.Input(formOutline).init();
    });
</script>
{% endblock %}